<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            padding-bottom: 0px !important;
            margin-bottom: 60px;
            background: url("../../Content/image/backgrnd.png");
            background-repeat: no-repeat;
            background-position: top;
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 50px;
            background-color: black;
        }
    </style>
</head>

<body>
    <div class="container body-content">
        @RenderBody()

    </div>

    <footer class="navbar-fixed-bottom text-center" style="padding:0px 25px 0px 25px;">
        <p>
            <h6 style="color:white;float:left">Copyright 2018 <b>Upserve</b></h6>
            <h6 style="color:white;float:right">10 Dorrance St. Providence, RI 02903 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   (855)664-3887</h6>
        </p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
