@model IEnumerable<Yelp.Api.Models.BusinessResponse>
@{
    ViewBag.Title = "Review";
}

<style type="text/css">
    .img-circle {
        border-radius: 50%;
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #dfeafe !important;
    }

    .table-striped > tbody > tr:nth-of-type(even) {
        background-color: rgba(249, 245, 245, 0.78) !important;
    }

    .p-l {
        padding-left: 5% !important;
    }
</style>
<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" rel="Stylesheet" type="text/css" />
<div class="container">
    <div class="row" style="margin-top:5%;">
        <div class="text-center col-lg-12 col-md-12">
            <span> <b style="font-weight: 800;font-size:55px;letter-spacing:-2px;">Restaurants that acore a 90 or above record 30 percent higher sales</b></span>
        </div>
        <div class="text-center col-lg-12 col-md-12">
            <h4> <b style="font-weight: 600;">How does your restaurant marketing stack up?</b></h4>
        </div>
    </div>
</div>
<div class="container" style="min-height:280px;padding-top:7%;">
    <div class="row text-center">
        @using (Html.BeginForm("Review", "Rest", FormMethod.Post))
        {
            @*<div class="form-group col-md-4">*@
            <div class="col-md-4 col-md-offset-1">
                <input type="text" id="txtLocation" name="LocationName" class="form-control border-bottom-input" value="San Francisco, CA, USA" onchange="LoadData()" style="width:100%;" />
            </div>
            @*<div class="col-md-4 col-md-offset-1">*@
            <div class="form-group col-md-4">
                <i class="glyphicon glyphicon-triangle-bottom" style="top: 6px;right: 18px;position: absolute;font-size:x-large;"></i>
                <input type="text" id="txtCustomer" placeholder="Restaurant Name" name="CustomerName" class="form-control border-bottom-input col-md-12" />
            </div>

            <div class="form-group col-md-2 offset-1">
                <input type="submit" id="btnSubmit" value="SUBMIT" class="btn btn-bold btn-black" />
            </div>

            <input type="hidden" id="hfCustomer" name="CustomerId" />
        }
    </div>
</div>

<div class="container">
    <div class="row" style="padding-bottom:7%;">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card col-md-11 col-md-offset-1">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-md-2"></div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-md-8">
                        @if (ViewBag.closeresult2[1].imageurl == "" || ViewBag.closeresult2[1].imageurl == null)
                        {
                            <img src="~/Content/image/NoImege.png" class="img-round-border img-responsive" style="width: 200px;height: 200px;">
                        }
                        else
                        {
                            <img src="@ViewBag.closeresult2[1].imageurl" class="img-round-border img-responsive" style="width: 200px;height: 200px;">
                        }
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-md-2"></div>
                </div>
                <div class="card-container text-center">
                    <h4><b>@ViewBag.closeresult2[1].name</b></h4>
                    <span>@ViewBag.closeresult2[1].Phone</span>
                    <p>
                        @ViewBag.closeresult2[1].Location
                        <div>
                            <div class="my-progress-bar-left">
                            </div>
                            <a class="btn btn-bold btn-review" href="@ViewBag.closeresult2[1].Url" target="_blank">@ViewBag.closeresult2[1].ratecount Reviews</a>
                        </div>
                    </p>
                    <a href="@Url.Action("Contact", "Home")" class="btn btn-bold btn-yellow btn-block">ANALYZE</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 card-mobile-responsive">
            <div class="card card-inverse col-md-12">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-md-2"></div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-md-8">
                        @if (ViewBag.closeresult1[0].imageurl == "" || ViewBag.closeresult1[0].imageurl == null)
                        {
                            <img src="~/Content/image/NoImege.png" class="img-round-border img-responsive" style="width: 200px;height: 200px;">
                        }
                        else
                        {
                            <img src="@ViewBag.closeresult1[0].imageurl" class="img-round-border img-responsive" style="width: 200px;height: 200px;">
                        }
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-md-2"></div>
                </div>
                <div class="card-container text-center">
                    <div class="titel">
                        <h4><b>@ViewBag.closeresult1[0].name</b></h4>
                        <span>@ViewBag.closeresult1[0].Phone</span>
                        <p>
                            @ViewBag.closeresult1[0].Location
                            <div>
                                <div class="my-progress-bar-center">
                                </div>
                                <a class="btn btn-bold btn-review" href="@ViewBag.closeresult1[0].Url" target="_blank">@ViewBag.closeresult1[0].ratecount Reviews</a>
                            </div>
                        </p>
                    </div>
                    <div style="padding-bottom:5px;">
                        <b>Closest Match</b>
                    </div>
                    <a href="@Url.Action("Contact", "Home")" class="btn btn-bold btn-yellow btn-block">ANALYZE</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 card-mobile-responsive">
            <div class="card col-md-11">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-md-2"></div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-md-8">
                        @if (ViewBag.closeresult3[2].imageurl == "" || ViewBag.closeresult3[2].imageurl == null)
                        {
                            <img src="~/Content/image/NoImege.png" class="img-round-border img-responsive" style="width: 200px;height: 200px;">
                        }
                        else
                        {
                            <img src="@ViewBag.closeresult3[2].imageurl" class="img-round-border img-responsive" style="width: 200px;height: 200px;">
                        }
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-md-2"></div>
                </div>
                <div class="card-container text-center">
                    <h4><b>@ViewBag.closeresult3[2].name</b></h4>
                    <span>@ViewBag.closeresult3[2].Phone</span>
                    <p>
                        @ViewBag.closeresult3[2].Location
                        <div>
                            <div class="my-progress-bar-right">
                            </div>
                            <a class="btn btn-bold btn-review" href="@ViewBag.closeresult3[2].Url" target="_blank">@ViewBag.closeresult3[2].ratecount Review</a>
                        </div>
                    </p>
                    <a href="@Url.Action("Contact", "Home")" class="btn btn-bold btn-yellow btn-block">ANALYZE</a>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="clearfix"></div>
    <div class="clearfix"></div>
    <div class="row" style="padding: 0% 4%;">
        <table class="table table-striped table-responsive">
            <tbody>
                @foreach (var item in ViewBag.businessList)
                {
                    <tr>
                        <td class="p-l">@item.name <button class="btn btn-bold btn-green btn-xs">@item.rate <i class="glyphicon glyphicon-star-empty"></i></button></td>
                        <td><a class="btn btn-review btn-xs pull-right" href="@item.Url" target="_blank">@item.ratecount Reviews</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1061875490"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEnSTOkBqHX2LDW-yuzXD9Zi3lnQvbe9Y&sensor=false&libraries=places"></script>
    <script>
        google.maps.event.addDomListener(window, 'load', function () {
            var options = {
                types: ['(cities)'],
                componentRestrictions: { country: ["us"] }
            };
            var places = new google.maps.places.Autocomplete(document.getElementById('txtLocation'), options);
            places.set
            google.maps.event.addListener(places, 'place_changed', function () {
                var place = places.getPlace();
                var latitude = place.geometry.location.lat();
                var longitude = place.geometry.location.lng();
                var targetDate = new Date(); // Current date/time of user computer
                var timestamp = targetDate.getTime() / 1000 + targetDate.getTimezoneOffset() * 60; // Current UTC date/time expressed as seconds since midnight, January 1, 1970 UTC
                var apikey = 'AIzaSyBEnSTOkBqHX2LDW-yuzXD9Zi3lnQvbe9Y';
                var apicall = 'https://maps.googleapis.com/maps/api/timezone/json?location=' + latitude + ',' + longitude + '&timestamp=' + timestamp + '&key=' + apikey;
                var xhr = new XMLHttpRequest(); // create new XMLHttpRequest2 object
                xhr.open('GET', apicall); // open GET request
                xhr.onload = function () {
                    if (xhr.status === 200) { // if Ajax request successful
                        var output = JSON.parse(xhr.responseText); // convert returned JSON string to JSON object
                        if (output.status == 'OK') { // if API reports everything was returned successfully

                            var offsets = output.dstOffset + output.rawOffset; // get DST and time zone offsets in milliseconds
                            var timezone = offsets / 3600; // Date object containing current time of Tokyo (timestamp + dstOffset + rawOffset)
                        }
                    } else {
                    }
                }
                xhr.send(); // send request
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            LoadData();
        });
        function LoadData() {
            if ($("#txtLocation").val().trim() == "") {
                $("#txtLocation").focus();
                return;
            }
            var xlocation = $("#txtLocation").val();

            $.ajax({
                url: '/Rest/GetAllData/',
                data: "{ 'xlocation': '" + xlocation + "'}",
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                },
                error: function (response) {
                    //alert(response.responseText);
                },
                failure: function (response) {
                    //alert(response.responseText);
                }
            });
        }
        $(function () {
            $("#txtCustomer").autocomplete({
                source: function (request, response) {
                    var xlocation = $("#txtLocation").val();
                    $.ajax({
                        url: '/Rest/AutoComplete/',
                        data: "{ 'prefix': '" + request.term + "','location': '" + xlocation + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#hfCustomer").val(i.item.val);
                },
                minLength: 1
            });
        });
    </script>

    <script src="~/Scripts/js/Meterplugin.js"></script>
    <script type="text/javascript">
       // debugger
        var Rating0 = @ViewBag.closeresult2[1].rate;
        var Rating1 = @ViewBag.closeresult1[0].rate;
        var Rating2 = @ViewBag.closeresult3[2].rate;
        if (Rating0 || Rating1 || Rating2) {
            RatingF = parseInt(Rating0 * 10);
            RatingS = parseInt(Rating1 * 10);
            RatingT = parseInt(Rating2 * 10);
        }
        $(document).ready(function () {
            $(".my-progress-bar-left").circularProgress({
                line_width: 12,
                color: "#8470ff",
                starting_position: 75, // 12.00 o' clock position, 25 stands for 3.00 o'clock (clock-wise)
                percent: 0, // percent starts from
                percentage: true,
                //text: "More power behind every pixel"
            }).circularProgress('animate', RatingF, 500).circularProgress('myvalue', RatingF);
            $(".my-progress-bar-center").circularProgress({
                line_width: 12,
                color: "#8470ff",
                starting_position: 75, // 12.00 o' clock position, 25 stands for 3.00 o'clock (clock-wise)
                percent: 0, // percent starts from
                percentage: true,
                //text: "More power behind every pixel"
            }).circularProgress('animate', RatingS, 500).circularProgress('myvalue', RatingS);
            $(".my-progress-bar-right").circularProgress({
                line_width: 12,
                color: "#8470ff",
                starting_position: 75, // 12.00 o' clock position, 25 stands for 3.00 o'clock (clock-wise)
                percent: 0, // percent starts from
                percentage: true,
                //text: "More power behind every pixel"
            }).circularProgress('animate', RatingT, 500).circularProgress('myvalue', RatingT);
        });
    </script>

    <script type="text/javascript">
    function restMarketGrade() {
       $.ajax({
          url: "@Url.Action("Contact", "Home")",
          async: true,
          type: "POST",
          data: {  },
          sucess: function (data) {
              //alert(data);
          }
       });
    }
    </script>
}