@*@model IEnumerable<Yelp.Api.Models.BusinessResponse>*@
@model RestReview.Models.Analyzes

@{
    ViewBag.Title = "Contact";
}

<style type="text/css" media="screen and (max-width: 767px)">
    .progress-div {
        padding-top: 20px;
    }

    .progress-title {
        font-size: 8px;
        font-weight: 800;
    }

    .progress-percentage {
        color: black;
        transform: translate(-50%, -111%);
        font-weight: 800;
        font-size: 30px;
        position: absolute;
        width: 100%;
        top: 65%;
        left: 35%;
        text-align: center;
        padding: 0px 60px;
    }
    .ldBar-label {
        color: black;
        font-family: tahoma;
        font-size: inherit;
        
    }
</style>
<style type="text/css" media="(min-width: 768px)">
    .progress-div {
        padding-top: 20px;
    }

    .progress-title {
        font-size: 10px;
        font-weight: 800;
    }

    .progress-percentage {
        color: black;
        transform: translate(-50%, -110%);
        font-weight: 800;
        font-size: 45px;
        position: absolute;
        width: 100%;
        top: 65%;
        left: 50%;
        text-align: center;
        padding: 0px 60px;
    }
    .ldBar-label {
        color: black;
        font-family: tahoma;
        font-size: inherit;
        
    }
</style>
<style type="text/css" media="(min-width: 992px)">
    .progress-div {
        padding-top: 20px;
    }

    .progress-title {
        font-size: 12px;
        font-weight: 800;
    }

    .progress-percentage {
        color: black;
        transform: translate(-50%, -100%);
        font-weight: 800;
        font-size: 65px;
        position: absolute;
        width: 100%;
        top: 63%;
        left: 52%;
        text-align: center;
    }
    .ldBar-label {
        color: black;
        font-family: tahoma;
        font-size: 5.1em;
        font-weight: 900
    }
</style>
<style type="text/css" media="(min-width: 1200px)">
    .progress-div {
        padding-top: 20px;
    }

    .progress-title {
        font-size: 12px;
        font-weight: 800;
    }

    .progress-percentage {
        color: black;
        transform: translate(-50%, -100%);
        font-weight: 800;
        font-size: 80px;
        position: absolute;
        width: 100%;
        top: 65%;
        left: 53%;
        text-align: center;
    }
    .ldBar-label {
        color: black;
        font-family: tahoma;
        font-size: 5.1em;
        font-weight: 900
    }
</style>
<style type="text/css" media="(min-width: 2560px)">
    .progress-div {
        padding-top: 20px;
    }

    .progress-title {
        font-size: 12px;
        font-weight: 800;
    }

    .progress-percentage {
        color: black;
        transform: translate(-50%, -100%);
        font-weight: 800;
        font-size: 90px;
        position: absolute;
        width: 100%;
        top: 65%;
        left: 53%;
    }
    .ldBar-label {
        color: black;
        font-family: tahoma;
        font-size: 5.1em;
        font-weight: 900
    }
</style>
<style type="text/css">
    .progress-bar-black {
        background-color: black;
    }

    .progress-bar-orange {
        background-color: orange;
    }

    .progress {
        margin-bottom: 0px;
        height: 10px;
    }

    .border-baner {
        border: 1px solid lightgray;
        border-radius: 15px;
        margin-bottom: 2%;
    }

    .row-divider {
        padding-top: 5%;
    }

    .btn-orange {
        color: white;
        background: #eb6a05;
    }

    .p-t-5px {
        padding-top: 5px;
    }

    .p-t-15px {
        padding-top: 15px;
    }

    .top-box {
        margin-left: 80px;
        margin-right: 80px;
    }

    table {
        align-content: center;
        height: 150px;
        width: 100%;
    }

    .table-responsive {
        border-radius: 15px;
        border: 1px solid;
        border-color: white;
    }

    thead > tr {
        background-color: black;
        color: white;
    }

    tbody > tr {
        background-color: rgb(255, 255, 255);
        color: black;
    }

    .odd {
        background-color: rgba(254, 205, 0, 0.28);
    }

    td {
        padding: 10px;
    }

    th {
        padding: 10px 0px 10px 2%;
    }
</style>
<style type="text/css">
    .fontClass {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top:1%;
    }
</style>
<link href="~/Content/loading-bar.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    
    svg {
        transform: rotate(180deg);
    }
</style>
<style type="text/css">
    .restaurant-name-progress-bar {
        position: relative;
        margin: 4px;
        /*float: left;*/
        text-align: center;
        /*padding-left: 175px;*/
        padding-top: 27px;
        text-align: -webkit-center;
        margin-bottom:3%;
    }

    .barOverflow {
        position: relative;
        overflow: hidden;
        width: 200px;
        height: 100px;
        margin-bottom: -14px;
    }

    .bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 20px solid #eee;
        border-bottom-color: #0bf;
        border-right-color: #0bf;
    }
</style>
<style type="text/css">
    .phone-number-progress-bar {
        position: relative;
        margin: 4px;
        /*float: left;*/
        text-align: center;
        /*padding-left: 175px;*/
        padding-top: 27px;
        text-align: -webkit-center;
        margin-bottom:3%;
        
    }

    .barOverflow {
        position: relative;
        overflow: hidden;
        width: 200px;
        height: 100px;
        margin-bottom: -14px;
    }

    .bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 20px solid #eee;
        border-bottom-color: #0bf;
        border-right-color: #0bf;
    }
</style>
<style type="text/css">
    .reviews-count-progress-bar {
        position: relative;
        margin: 4px;
        /*float: left;*/
        text-align: center;
        /*padding-left: 175px;*/
        padding-top: 27px;
        text-align: -webkit-center;
    }

    .barOverflow {
        position: relative;
        overflow: hidden;
        width: 200px;
        height: 100px;
        margin-bottom: -14px;
    }

    .bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 20px solid #eee;
        border-bottom-color: #0bf;
        border-right-color: #0bf;
    }
</style>
<style type="text/css">
    .reviews-rating-progress-bar {
        position: relative;
        margin: 4px;
        /*float: left;*/
        text-align: center;
        /*padding-left: 175px;*/
        padding-top: 27px;
        text-align: -webkit-center;
    }

    .barOverflow {
        position: relative;
        overflow: hidden;
        width: 200px;
        height: 100px;
        margin-bottom: -14px;
    }

    .bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 20px solid #eee;
        border-bottom-color: #0bf;
        border-right-color: #0bf;
    }
</style>
<style type="text/css">
    .facebook-progress-bar {
        position: relative;
        margin: 4px;
        /*float: left;*/
        text-align: center;
        /*padding-left: 175px;*/
        padding-top: 27px;
        text-align: -webkit-center;
        margin-bottom:3%;
    }

    .barOverflow {
        position: relative;
        overflow: hidden;
        width: 200px;
        height: 100px;
        margin-bottom: -14px;
    }

    .bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 20px solid #eee;
        border-bottom-color: #0bf;
        border-right-color: #0bf;
    }
</style>
<style type="text/css">
    .photos-progress-bar {
        position: relative;
        margin: 4px;
        /*float: left;*/
        text-align: center;
        /*padding-left: 175px;*/
        padding-top: 27px;
        text-align: -webkit-center;
        margin-bottom:3%;
    }

    .barOverflow {
        position: relative;
        overflow: hidden;
        width: 200px;
        height: 100px;
        margin-bottom: -14px;
    }

    .bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 20px solid #eee;
        border-bottom-color: #0bf;
        border-right-color: #0bf;
    }
</style>
<style type="text/css">
    .website-url-progress-bar {
        position: relative;
        margin: 4px;
        /*float: left;*/
        text-align: center;
        /*padding-left: 175px;*/
        padding-top: 27px;
        text-align: -webkit-center;
        margin-bottom:3%
    }

    .barOverflow {
        position: relative;
        overflow: hidden;
        width: 200px;
        height: 100px;
        margin-bottom: -14px;
    }

    .bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 20px solid #eee;
        border-bottom-color: #0bf;
        border-right-color: #0bf;
    }
</style>
<style type="text/css">
    .referral-domain-progress-bar {
        position: relative;
        margin: 4px;
        /*float: left;*/
        text-align: center;
        /*padding-left: 175px;*/
        padding-top: 27px;
        text-align: -webkit-center;
        margin-bottom: 3%
    }

    .barOverflow {
        position: relative;
        overflow: hidden;
        width: 200px;
        height: 100px;
        margin-bottom: -14px;
    }

    .bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 20px solid #eee;
        border-bottom-color: #0bf;
        border-right-color: #0bf;
    }
</style>
<style type="text/css">
    .number-of-pages-progress-bar {
        position: relative;
        margin: 4px;
        /*float: left;*/
        text-align: center;
        /*padding-left: 175px;*/
        padding-top: 27px;
        text-align: -webkit-center;
        margin-bottom: 3%
    }

    .barOverflow {
        position: relative;
        overflow: hidden;
        width: 200px;
        height: 100px;
        margin-bottom: -14px;
    }

    .bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 20px solid #eee;
        border-bottom-color: #0bf;
        border-right-color: #0bf;
    }
</style>

<div class="container">
    <div class="row" style="margin-top:7%;">
        <div class="text-center col-lg-12 col-md-12 page_title">
            Your Restaurant's Marketing Grade is:
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3"></div>
            @*<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6" id="progress_div_center">
                    <div class="my-progress-bar" id="progress_div_right"></div>
                </div>*@
            <div id="mainProgressbar" class="ldBar label-center" style="width:28%; height:50%; margin:auto" data-value="@Model.MainProgress" data-preset="circle"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="progress-div">
                    <div class="text-uppercase"><span class="progress-title"> Data Consistency</span></div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-black" id="DataConsistencyProgressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                    </div>
                </div>
                <div>
                    @if (@Model.DataDependecy != null)
                    {
                        <h5><strong class="initialism">@Model.DataDependecy / </strong><small style="color: white;">10</small></h5>
                    }
                    else
                    {
                        <h5><strong class="initialism">0 / </strong><small style="color: white;">10</small></h5>
                    }
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="progress-div"><div class="text-uppercase"><span class="progress-title">Reviews</span></div></div>
                <div class="progress">
                    <div class="progress-bar progress-bar-black" id="RateProgressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:20%">
                    </div>
                </div>
                <div>
                    @if (@Model.RatingData != null)
                    {
                        <h5><strong class="initialism">@Model.RatingData / </strong><small style="color: white;">40</small></h5>
                    }
                    else
                    {
                        <h5><strong class="initialism">0 / </strong><small style="color: white;">40</small></h5>
                    }
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div><div class="text-uppercase"><span class="progress-title">Social Media Completion <br />& Engagement</span></div></div>
                <div class="progress">
                    <div class="progress-bar progress-bar-black" id="FacebookProgressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                    </div>
                </div>
                <div>
                    @if (@Model.SocialMediaEngagement != null)
                    {
                        <h5><strong class="initialism">@Model.SocialMediaEngagement / </strong><small style="color: white;">35</small></h5>
                    }
                    else
                    {
                        <h5><strong class="initialism">0 / </strong><small style="color: white;">35</small></h5>
                    }
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="progress-div"><div class="text-uppercase"><span class="progress-title">website</span></div></div>
                <div class="progress">
                    <div class="progress-bar progress-bar-black" id="websiteProgressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    </div>
                </div>
                <div>
                    @if (@Model.WebSite != null)
                    {
                        <h5><strong class="initialism">@Model.WebSite / </strong><small style="color: white;">15</small></h5>
                    }
                    else
                    {
                        <h5><strong class="initialism">0 / </strong><small style="color: white;">15</small></h5>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="padding-top:7%;padding-bottom:5%; "></div>
<div class="container">
    <!--Data Consistency-->
    <div class="row row-divider">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="border-baner">
                <div class="text-center" style="padding-top:3%;">
                    @if (@Model.DataDependecy != null)
                    {
                        <span>
                            <b style="font-weight: 800;font-size:35px;letter-spacing:-2px;color:orange;padding-top:5%;">@Model.DataDependecy</b>
                            <b style="font-weight: 800;font-size:25px;letter-spacing:-2px;">/10</b>
                        </span>
                    }
                    else
                    {
                        <span>
                            <b style="font-weight: 800;font-size:35px;letter-spacing:-2px;color:orange;padding-top:5%;">0</b>
                            <b style="font-weight: 800;font-size:25px;letter-spacing:-2px;">/10</b>
                        </span>
                    }
                </div>
                <div class="text-center" style="padding-bottom:2%;">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="progress">
                            <div class="progress-bar progress-bar-orange" id="DataConsistencyProgressbarIn" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%;"></div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="text-center" style="padding-bottom:2%;">
                    <span>
                        <b style="font-weight: 750;font-size:32px;letter-spacing:0px;color:#72a0fe;padding-top:5%;padding-bottom:5%;">Data Consistency</b>
                    </span>
                </div>
                <div class="text-center">
                    <b class="fontClass" style="font-weight: 700;font-size:16px;letter-spacing:0px;padding-top:5%;padding-bottom:5%;">
                        It's important that all of your restaurant's information is consistent across all social media platform.<br />
                        You don't want customers driving to the wrong address of calling the wrong phone number!
                    </b>
                </div>
                <div class="text-center" style="padding-bottom:5%;padding-top:3%;">
                    <span><a href="#"><b style="font-weight: 650;font-size:17px;letter-spacing:0px;color:orange;padding-top:5%;">Read More</b></a></span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="border-baner left-box">
                    <div class="text-center" style="padding-top:4%;">
                        <span> <b style="font-weight: 750;font-size:25px;letter-spacing:0px;padding-top:5%;padding-bottom:5%;">Restaurant Name</b></span>
                    </div>
                    <div class="restaurant-name-progress-bar">
                        <div class="barOverflow">
                            <div class="bar"></div>
                        </div>
                    </div>
                    @*<div data-preset="fan" class="ldBar label-center" data-value="0" style="width: 269px;height: 134px;"></div>*@
                    <div class="text-center">
                        <span> <b class="fontClass" style="font-weight: 600;font-size:15px;letter-spacing:0px;padding-top:2%;padding-bottom:2%;">ADVICE</b></span>
                    </div>
                    <div class="text-center" style="padding-bottom:5%;padding-top:4%;">
                        <span>
                            <b class="fontClass" style="font-weight: 600;font-size:16px;letter-spacing:0px;">
                                When updating your social media,<br />
                                make sure that your restaurant's name<br />
                                is the same across all platforms.
                            </b>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="border-baner right-box">
                    <div class="text-center" style="padding-top:4%;">
                        <span> <b style="font-weight: 750;font-size:25px;letter-spacing:0px;padding-top:5%;padding-bottom:5%;">Phone Number </b></span>
                    </div>
                    <div class="phone-number-progress-bar">
                        <div class="barOverflow">
                            <div class="bar"></div>
                        </div>
                    </div>
                    <div class="text-center">
                        <span> <b class="fontClass" style="font-weight: 600;font-size:15px;letter-spacing:0px;padding-top:2%;padding-bottom:2%;">ADVICE</b></span>
                    </div>
                    <div class="text-center" style="padding-bottom:9%;padding-top:4%;">
                        <span>
                            <b class="fontClass" style="font-weight: 600;font-size:16px;letter-spacing:0px;">
                                Your phone number should be the,<br />
                                same and correct on all platforms!<br />
                            </b>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Review rating and count-->
    <div class="row row-divider">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="border-baner">
                <div class="text-center" style="padding-top:3%;">
                    @if (@Model.RatingData != null)
                    {
                        <span>
                            <b style="font-weight: 800;font-size:35px;letter-spacing:-2px;color:orange;padding-top:5%;">@Model.RatingData</b>
                            <b style="font-weight: 800;font-size:25px;letter-spacing:-2px;">/40</b>
                        </span>
                    }
                    else
                    {
                        <span>
                            <b style="font-weight: 800;font-size:35px;letter-spacing:-2px;color:orange;padding-top:5%;">0</b>
                            <b style="font-weight: 800;font-size:25px;letter-spacing:-2px;">/40</b>
                        </span>
                    }
                </div>
                <div class="text-center" style="padding-bottom:2%;">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="progress">
                            <div class="progress-bar progress-bar-orange" id="RateProgressbarIn" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%;"></div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="text-center" style="padding-bottom:2%;">
                    <span> <b style="font-weight: 750;font-size:32px;letter-spacing:0px;color:#72a0fe;padding-top:5%;padding-bottom:5%;">Reviews</b></span>
                </div>
                <div class="text-center">
                    <b class="fontClass" style="font-weight: 600;font-size:16px;letter-spacing:0px;padding-top:5%;padding-bottom:5%;">
                        Reviews quantify the experience that your customers have at your restaurant and they set a<br />
                        precedence for fututre customers. Today, 85% of diners trust online reviews as much as personal<br />
                        reviews <font color="orange">(source)</font> making reviews on websites such as Yelp, Facebook, and Zomato crucial to your<br />
                        online presence. 97% of consumers read online reviews for local businesses last year (Brightlocal)<br />
                    </b>
                </div>
                <div class="text-center" style="padding-bottom:5%;padding-top:3%;">
                    <span><a href="#"><b style="font-weight: 650;font-size:17px;letter-spacing:0px;color:orange;padding-top:5%;">Read More </b></a></span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="border-baner left-box">
                    <div class="text-center" style="padding-top:4%;">
                        <span> <b style="font-weight: 750;font-size:25px;letter-spacing:0px;padding-top:5%;padding-bottom:5%;">Reviews Count</b></span>
                    </div>
                    <div class="reviews-count-progress-bar">
                        <div class="barOverflow">
                            <div class="bar"></div>
                        </div>
                    </div>
                    <div class="text-center">
                        <b><label id="rev_count_val1" style="font-size: x-large;color:orange;"></label></b>
                        <br />
                        <span> <b class="fontClass" style="font-weight: 600;font-size:15px;letter-spacing:0px;padding-top:2%;padding-bottom:2%;">ADVICE</b></span>
                    </div>
                    <div class="text-center" style="padding-bottom:5%;padding-top:4%;">
                        <span>
                            <b class="fontClass" style="font-weight: 600;font-size:16px;letter-spacing:0px;">
                                Having online reviews is extremely<br />
                                important as most diners search a<br />
                                restaurant before they visit it.Not<br />
                                having any reviews can potentially<br />
                                deter visitors.<br />
                                &nbsp;
                            </b>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="border-baner right-box">
                    <div class="text-center" style="padding-top:4%;">
                        <span> <b style="font-weight: 750;font-size:25px;letter-spacing:0px;padding-top:5%;padding-bottom:5%;">Reviews Rating </b></span>
                    </div>
                    <div class="reviews-rating-progress-bar">
                        <div class="barOverflow">
                            <div class="bar"></div>
                        </div>
                    </div>
                    <div class="text-center">
                        <b><label id="ReviewsRatingVal" style="font-size: x-large;color:orange;"></label></b>
                        <br/>
                        <span> <b class="fontClass" style="font-weight: 600;font-size:15px;letter-spacing:0px;padding-top:2%;padding-bottom:2%;">ADVICE</b></span>
                    </div>
                    <div class="text-center" style="padding-bottom:5%;padding-top:4%;">
                        <span>
                            <b class="fontClass" style="font-weight: 600;font-size:16px;letter-spacing:0px;">
                                Consumers read and consider<br />
                                restaurant reviews at a higher rate<br />
                                than any other industry.It's important<br />
                                that your reviews rating is positive<br />
                                and will help to drive customers to<br />
                                your food!
                            </b>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Social media-->
    <div class="row row-divider">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="border-baner">
                <div class="text-center" style="padding-top:3%;">
                    @if (@Model.SocialMediaEngagement != null)
                    {
                        <span>
                            <b style="font-weight: 800;font-size:35px;letter-spacing:-2px;color:orange;padding-top:5%;">@Model.SocialMediaEngagement</b>
                            <b style="font-weight: 800;font-size:25px;letter-spacing:-2px;">/35</b>
                        </span>
                    }
                    else
                    {
                        <span>
                            <b style="font-weight: 800;font-size:35px;letter-spacing:-2px;color:orange;padding-top:5%;">0</b>
                            <b style="font-weight: 800;font-size:25px;letter-spacing:-2px;">/35</b>
                        </span>
                    }
                </div>
                <div class="text-center" style="padding-bottom:2%;">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="progress">
                            <div class="progress-bar progress-bar-orange" id="FacebookProgressbarIn" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%;"></div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="text-center" style="padding-bottom:2%;">
                    <span> <b style="font-weight: 750;font-size:32px;letter-spacing:0px;color:#72a0fe;padding-top:5%;padding-bottom:5%;">Social Media</b></span>
                </div>
                <div class="text-center">
                    <b class="fontClass" style="font-weight: 600;font-size:16px;letter-spacing:0px;padding-top:5%;padding-bottom:5%;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                        Social media is king in today's information age making it an important asset for any restaurant that<br />
                        wants to have a robust online presence. Engaging with customers online by sharing their photos and<br />
                        keeping them up to date with what is happening at your restaurant is a great way to boost your web presence!
                    </b>
                </div>
                <div class="text-center" style="padding-bottom:5%;padding-top:3%;">
                    <span><a href="#"><b style="font-weight: 650;font-size:17px;letter-spacing:0px;color:orange;padding-top:5%;">Read More </b></a></span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="border-baner left-box">
                    <div class="text-center" style="padding-top:4%;">
                        <span> <b style="font-weight: 750;font-size:25px;letter-spacing:0px;padding-top:5%;padding-bottom:5%;">Facebook</b></span>
                    </div>
                    <div class="facebook-progress-bar">
                        <div class="barOverflow">
                            <div class="bar"></div>
                        </div>
                    </div>
                    <div class="text-center">
                        <span> <b class="fontClass" style="font-weight: 600;font-size:15px;letter-spacing:0px;padding-top:2%;padding-bottom:2%;">ADVICE</b></span>
                    </div>
                    <div class="text-center" style="padding-bottom:5%;padding-top:4%;">
                        <span>
                            <b class="fontClass" style="font-weight: 600;font-size:16px;letter-spacing:0px;">
                                Facebook is alive and well! The 'book<br />
                                is a great tool to update your loyal<br />
                                customers on everything that is<br />
                                happening at your restaurant!<br />
                            </b>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="border-baner right-box">
                    <div class="text-center" style="padding-top:4%;">
                        <span> <b style="font-weight: 750;font-size:25px;letter-spacing:0px;padding-top:5%;padding-bottom:5%;">Photos </b></span>
                    </div>
                    <div class="photos-progress-bar">
                        <div class="barOverflow">
                            <div class="bar"></div>
                        </div>
                    </div>
                    <div class="text-center">
                        <span> <b class="fontClass" style="font-weight: 600;font-size:15px;letter-spacing:0px;padding-top:2%;padding-bottom:2%;">ADVICE</b></span>
                    </div>
                    <div class="text-center" style="padding-bottom:5%;padding-top:4%;">
                        <span>
                            <b class="fontClass" style="font-weight: 600;font-size:16px;letter-spacing:0px;">
                                People love visuals,especially when it  comes<br />
                                to photos of food.Use this to your advantage by encouraging<br />
                                dinners to take pictures of their food and re-posting<br />
                                them on your restaurant's social media!
                            </b>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Website-->
    <div class="row row-divider">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="border-baner">
                <div class="text-center" style="padding-top:3%;">
                    @if (@Model.WebSite != null)
                    {
                        <span>
                            <b style="font-weight: 800;font-size:35px;letter-spacing:-2px;color:orange;padding-top:5%;">@Model.WebSite</b>
                            <b style="font-weight: 800;font-size:25px;letter-spacing:-2px;">/15</b>
                        </span>
                    }
                    else
                    {
                        <span>
                            <b style="font-weight: 800;font-size:35px;letter-spacing:-2px;color:orange;padding-top:5%;">0</b>
                            <b style="font-weight: 800;font-size:25px;letter-spacing:-2px;">/15</b>
                        </span>
                    }
                </div>
                <div class="text-center" style="padding-bottom:2%;">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="progress">
                            <div class="progress-bar progress-bar-orange" id="websiteProgressbarIn" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%;"></div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="text-center" style="padding-bottom:2%;">
                    <span> <b style="font-weight: 750;font-size:32px;letter-spacing:0px;color:#72a0fe;padding-top:5%;padding-bottom:5%;">Website</b></span>
                </div>
                <div class="text-center">
                    <b class="fontClass" style="font-weight: 600;font-size:16px;letter-spacing:0px;padding-top:5%;padding-bottom:5%;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                        Wheter it is to look at your restaurant's ,menu or to find your hours, customers are constantly<br />
                        searching about your restaurant. By keeping all thi information up to date your website it<br />
                        provides customers with one easy place to find everything they need!
                    </b>
                </div>
                <div class="text-center" style="padding-bottom:5%;padding-top:3%;">
                    <span><a href="#"><b style="font-weight: 650;font-size:17px;letter-spacing:0px;color:orange;padding-top:5%;">Read More </b></a></span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="border-baner left-box">
                    <div class="text-center" style="padding-top:4%;">
                        <span> <b style="font-weight: 750;font-size:25px;letter-spacing:0px;padding-top:5%;padding-bottom:5%;">Website URL</b></span>
                    </div>
                    <div class="website-url-progress-bar">
                        <div class="barOverflow">
                            <div class="bar"></div>
                        </div>
                    </div>
                    <div class="text-center">
                        <span> <b class="fontClass" style="font-weight: 600;font-size:15px;letter-spacing:0px;padding-top:2%;padding-bottom:2%;">ADVICE</b></span>
                    </div>
                    <div class="text-center" style="padding-bottom:5%;padding-top:4%;">
                        <span>
                            <b class="fontClass" style="font-weight: 600;font-size:16px;letter-spacing:0px;">
                                It's important that your website<br />
                                URL is correct across all social<br />
                                media platforms. Consistency<br />
                                creates less confusion and<br />
                                drives more potential<br />
                                customers to youe site.<br />
                                &nbsp;<br />
                                &nbsp;<br />
                            </b>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="border-baner last-center-box">
                    <div class="text-center" style="padding-top:4%;">
                        <span> <b style="font-weight: 750;font-size:25px;letter-spacing:0px;padding-top:5%;padding-bottom:5%;">Referral Domain </b></span>
                    </div>
                    <div class="referral-domain-progress-bar">
                        <div class="barOverflow">
                            <div class="bar"></div>
                        </div>
                    </div>
                    <div class="text-center">
                        <span> <b class="fontClass" style="font-weight: 600;font-size:15px;letter-spacing:0px;padding-top:2%;padding-bottom:2%;">ADVICE</b></span>
                    </div>
                    <div class="text-center" style="padding-bottom:5%;padding-top:4%;">
                        <span>
                            <b class="fontClass" style="font-weight: 600;font-size:16px;letter-spacing:0px;">
                                When other websites mention<br />
                                or link to youe website it drives<br />
                                more traffic to your site!<br />
                                There's no such things as too<br />
                                much exposure for your<br />
                                restaurant. Just make sure<br />
                                these links are good quality<br />
                                and not spam!
                            </b>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="border-baner right-box">
                    <div class="text-center" style="padding-top:4%;">
                        <span> <b style="font-weight: 750;font-size:25px;letter-spacing:0px;padding-top:5%;padding-bottom:5%;">Number of Pages </b></span>
                    </div>
                    <div class="number-of-pages-progress-bar">
                        <div class="barOverflow">
                            <div class="bar"></div>
                        </div>
                    </div>
                    <div class="text-center">
                        <span> <b class="fontClass" style="font-weight: 600;font-size:15px;letter-spacing:0px;padding-top:2%;padding-bottom:2%;">ADVICE</b></span>
                    </div>
                    <div class="text-center" style="padding-bottom:5%;padding-top:4%;">
                        <span>
                            <b class="fontClass" style="font-weight: 600;font-size:16px;letter-spacing:0px;">
                                Don't just throw all of your<br />
                                restaurant's onformation onto<br />
                                one oage on your website.<br />
                                Create numerous pages for<br />
                                your site that add value to it<br />
                                and enhance your users<br />
                                experience.<br />
                                &nbsp;<br />
                            </b>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="background-color:cornflowerblue;margin-top: 5%;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="padding-top:3%;">
                <span> <b style="font-weight: 800;font-size:45px;letter-spacing:-2px;padding-top:5%;">Next Steps</b></span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="padding-top:1%;">
                <span> <b style="font-size:25px;">Here are some ways to improve your restaurant's marketing!</b></span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="padding-top:3%;"><hr style="border-top:2px solid black" />    </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <span> <b style="font-weight: 850;font-size:45px;letter-spacing:-2px;">List Advice</b></span>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:3%;">
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>0</th>
                                <th class="odd">0-25%</th>
                                <th>25-50%</th>
                                <th class="odd">50-75%</th>
                                <th>75-100%</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Your Restaurant's<br />
                                    Marketing____
                                </td>
                                <td class="odd">
                                    can only get<br />
                                    better from here!
                                </td>
                                <td>
                                    is on it's way!Lets see<br />
                                    what we can do to make<br />
                                    it ever better!
                                </td>
                                <td class="odd">
                                    is almost there!Here<br />
                                    are some suggestions<br />
                                    that will make it excel!
                                </td>
                                <td>
                                    is top notch!<br />
                                    Looks like you're<br />
                                    a prefessional!
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:3%;">
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>Data Consistency</th>
                                <th class="odd">0-2</th>
                                <th>2-4</th>
                                <th class="odd">4-5</th>
                                <th>Advice</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Restaurant Name
                                </td>
                                <td class="odd">
                                    some things look a<br />
                                    little different...
                                </td>
                                <td>
                                    Looks like your could<br />
                                    use a little help!
                                </td>
                                <td class="odd">
                                    Say my name, say my<br />
                                    name!
                                </td>
                                <td>
                                    It's important that your restaurant's name<br />
                                    and brand is consistent across all platforms.<br />
                                    Read here for more advice.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Phone Number<br />
                                    Advice
                                </td>
                                <td class="odd">
                                    Ring, ring... Oops<br />
                                    sorry!Wrong number!
                                </td>
                                <td>
                                    A few things need to<br />
                                    be switched up.
                                </td>
                                <td class="odd">
                                    Put a ring on it!
                                </td>
                                <td>
                                    Make sure that your restaurant's phone<br />
                                    number is the same on Facebook, Yelp,<br />
                                    Google, Zomato, and your website so no one<br />
                                    get confused!
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:3%;">
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>Reviews</th>
                                <th class="odd">0-5</th>
                                <th>5-10</th>
                                <th class="odd">10-15</th>
                                <th>15-20</th>
                                <th class="odd">Advice</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Reviews Count
                                </td>
                                <td class="odd">
                                    Time to step up your<br />
                                    Game!
                                </td>
                                <td></td>
                                <td class="odd">
                                    You're on your way to<br />
                                    being a review pro!
                                </td>
                                <td>
                                    You are review<br />
                                    magnet!
                                </td>
                                <td class="odd">
                                    Online reviews are <br />
                                    extremly important
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Reviews rating
                                </td>
                                <td class="odd">
                                    Your reviews count<br />
                                    they can only get<br />
                                    better from here
                                </td>
                                <td>
                                    Let's boot those<br />
                                    ratings!
                                </td>
                                <td class="odd">
                                    Who says you need to<br />
                                    shoot for the moon<br />
                                    when five stars is<br />
                                    better?
                                </td>
                                <td>
                                    Look at all your stars!
                                </td>
                                <td class="odd">
                                    it's easy for you to<br />
                                    take control of your<br />
                                    reviews and to<br />
                                    encourage positive<br />
                                    feedback from your<br />
                                    customers, read here<br />
                                    for more advice on<br />
                                    how to do that!
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:3%;">
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>Social Media</th>
                                <th class="odd">0-3</th>
                                <th>4-6</th>
                                <th class="odd">6-8</th>
                                <th>8-10</th>
                                <th class="odd">Advice</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Facebook? What's<br />
                                    that?
                                </td>
                                <td class="odd">
                                    Being on Facebook is<br />
                                    the first step, the<br />
                                    second is getting<br />
                                    those likes up!
                                </td>
                                <td></td>
                                <td class="odd">
                                    Close to being a<br />
                                    Facebook king!
                                </td>
                                <td>
                                    Your Facebook is<br />
                                    killing it!
                                </td>
                                <td class="odd">
                                    Facebook is an<br />
                                    extremely important<br />
                                    tool for restaurants,<br />
                                    here are some easy<br />
                                    ways to use it for your<br />
                                    businesses advantage!
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Photos
                                </td>
                                <td class="odd">
                                    Start snapping some<br />
                                    pics!
                                </td>
                                <td>
                                    There's no such thing<br />
                                    as having too many<br />
                                    photos! Let's take<br />
                                    some more!
                                </td>
                                <td class="odd">
                                    Visuals always help<br />
                                    and you clearly know<br />
                                    that!
                                </td>
                                <td>
                                    Oh snap! Are you a<br />
                                    professional<br />
                                    photographer?
                                </td>
                                <td class="odd">
                                    Visuals are important!<br />
                                    Drool worthly food<br />
                                    photos are even more<br />
                                    important! Here are<br />
                                    some tips for mouth<br />
                                    watering photos!
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:3%;margin-bottom:50px">
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>Website</th>
                                <th class="odd">0-2</th>
                                <th>2-4</th>
                                <th class="odd">4-5</th>
                                <th></th>
                                <th class="odd">Advice</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Wbsite Url
                                </td>
                                <td class="odd">
                                    Somethings aren't the<br />
                                    same...
                                </td>
                                <td>
                                    So close!
                                </td>
                                <td class="odd">
                                    Looks like your URLs<br />
                                    are all set!
                                </td>
                                <td></td>
                                <td class="odd">
                                    Consistency is<br />
                                    important! Make sure<br />
                                    your website URL is<br />
                                    the same across<br />
                                    every site it is listed<br />
                                    on.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Number of pages
                                </td>
                                <td class="odd">
                                    Time to beef up your<br />
                                    website!
                                </td>
                                <td>
                                    You're almost there!
                                </td>
                                <td class="odd">
                                    You've got a great<br />
                                    number of pages!
                                </td>
                                <td></td>
                                <td class="odd">
                                    It's time to optimize<br />
                                    the most important<br />
                                    pages on your<br />
                                    website! Read here<br />
                                    for more advice on<br />
                                    how to do that.
                                </td>
                            </tr>
                            <tr style="background-color:black;color:white;">
                                <th></th>
                                <th class="odd">0-3</th>
                                <th>4-6</th>
                                <th class="odd">6-8</th>
                                <th>8-10</th>
                                <th class="odd">Advice</th>
                            </tr>
                            <tr>
                                <td>
                                    Referral Domain
                                </td>
                                <td class="odd">
                                    Things can only go up<br />
                                    from here!
                                </td>
                                <td>
                                    Let's work on boosting<br />
                                    your referral traffic!
                                </td>
                                <td class="odd">
                                    Looks like you've got<br />
                                    good referral game!
                                </td>
                                <td>
                                    We don't need to<br />
                                    remind you how<br />
                                    important referral<br />
                                    traffic is!
                                </td>
                                <td class="odd">
                                    Referral traffic is<br />
                                    extremely important<br />
                                    to bring more people<br />
                                    to your website and<br />
                                    into your restaurants<br />
                                    doors!Here are some<br />
                                    tips to increase your<br />
                                    referral traffic!
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/js/loading-bar.js" type="text/javascript"></script>
    <script src="~/Scripts/js/RestaurantNameMeter.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var dynamic_line_width = 0;
            if (768 >= $(window).width())
                dynamic_line_width = 8
            else
                dynamic_line_width = 12;

            var dataConsistencyProgressValue = (@Model.DataDependecy * 100) / 10;
            $('#DataConsistencyProgressbar').attr("style", "width:" + dataConsistencyProgressValue + "%");
            $('#DataConsistencyProgressbarIn').attr("style", "width:" + dataConsistencyProgressValue + "%");

            var progressValue = (@Model.RatingData * 100) / 40;
            $('#RateProgressbar').attr("style", "width:" + progressValue + "%");
            $('#RateProgressbarIn').attr("style", "width:" + progressValue + "%");

            //FacebookProgressbarIn   FacebookProgressbar
            var progressValue = (@Model.SocialMediaEngagement * 100) / 35;
            $('#FacebookProgressbar').attr("style", "width:" + progressValue + "%");
            $('#FacebookProgressbarIn').attr("style", "width:" + progressValue + "%");

             var websiteProgressValue = (@Model.WebSite * 100) / 15;
            $('#websiteProgressbar').attr("style", "width:" + websiteProgressValue + "%");
            $('#websiteProgressbarIn').attr("style", "width:" + websiteProgressValue + "%");

            var nm_bar_val= (@Model.DataDependecy * 2 * 50) / 10;
            $(".restaurant-name-progress-bar").each(function () {
                var $bar = $(this).find(".bar");
                var $val = $(this).find("span");
                var perc = parseInt(nm_bar_val, 10);

                $({ p: 0 }).animate({ p: perc }, {
                    easing: "swing",
                    step: function (p) {
                        $bar.css({
                            transform: "rotate(" + (45 + (p * 1.8)) + "deg)",
                        });
                        $val.text(p | 0);
                    }
                });
            });

            var pn_bar_val=(@Model.DataDependecy * 2 * 50) / 10;
            $(".phone-number-progress-bar").each(function () {
                var $bar = $(this).find(".bar");
                var $val = $(this).find("span");
                var perc = parseInt(pn_bar_val, 10);

                $({ p: 0 }).animate({ p: perc }, {
                    easing: "swing",
                    step: function (p) {
                        $bar.css({
                            transform: "rotate(" + (45 + (p * 1.8)) + "deg)",
                        });
                        $val.text(p | 0);
                    }
                });
            });

            var rev_count_val = (@Model.ReviewCount * 2 * 50) / 1738;
            var rev_count_val1 = (@Model.ReviewCount);
            $('#rev_count_val1').text(rev_count_val1);
            if (rev_count_val > 50)
                rev_count_val = 50;
            $(".reviews-count-progress-bar").each(function () {
                var $bar = $(this).find(".bar");
                var $val = $(this).find("span");
                var perc = parseInt(rev_count_val, 10);

                $({ p: 0 }).animate({ p: perc }, {
                    easing: "swing",
                    step: function (p) {
                        $bar.css({
                            transform: "rotate(" + (45 + (p * 1.8)) + "deg)",
                        });
                        $val.text(p | 0);
                    }
                });
            });

            var rev_rating_val = (@Model.ReviewRating * 2 * 50) / 5;
            var rev_rating_val1 = (@Model.ReviewRating);
            $('#ReviewsRatingVal').text(rev_rating_val1);
            $(".reviews-rating-progress-bar").each(function () {
                var $bar = $(this).find(".bar");
                var $val = $(this).find("span");
                var perc = parseInt(rev_rating_val, 10);
                $({ p: 0 }).animate({ p: perc }, {
                    easing: "swing",
                    step: function (p) {
                        $bar.css({
                            transform: "rotate(" + (45 + (p * 1.8)) + "deg)",
                        });
                        $val.text(p | 0);
                    }
                });
            });

            var like_val = (@Model.LikeCount * 2 * 50) / 20;
            $(".facebook-progress-bar").each(function () {
                var $bar = $(this).find(".bar");
                var $val = $(this).find("span");
                var perc = parseInt(like_val, 10);
                $({ p: 0 }).animate({ p: perc }, {
                    easing: "swing",
                    step: function (p) {
                        $bar.css({
                            transform: "rotate(" + (45 + (p * 1.8)) + "deg)",
                        });
                        $val.text(p | 0);
                    }
                });
            });

            var photo_val = (@Model.PhotoCount * 2 * 50) / 15;
            $(".photos-progress-bar").each(function () {
                var $bar = $(this).find(".bar");
                var $val = $(this).find("span");
                var perc = parseInt(photo_val, 10);
                $({ p: 0 }).animate({ p: perc }, {
                    easing: "swing",
                    step: function (p) {
                        $bar.css({
                            transform: "rotate(" + (45 + (p * 1.8)) + "deg)",
                        });
                        $val.text(p | 0);
                    }
                });
            });

            var rev_web_val = (@Model.WebSite * 2 * 50) / 15;
            $(".website-url-progress-bar").each(function () {
                var $bar = $(this).find(".bar");
                var $val = $(this).find("span");
                var perc = parseInt(rev_web_val, 10);
                $({ p: 0 }).animate({ p: perc }, {
                    easing: "swing",
                    step: function (p) {
                        $bar.css({
                            transform: "rotate(" + (45 + (p * 1.8)) + "deg)",
                        });
                        $val.text(p | 0);
                    }
                });
            });

            $(".referral-domain-progress-bar").each(function () {
                var $bar = $(this).find(".bar");
                var $val = $(this).find("span");
                var perc = parseInt(rev_web_val, 10);
                $({ p: 0 }).animate({ p: perc }, {
                    easing: "swing",
                    step: function (p) {
                        $bar.css({
                            transform: "rotate(" + (45 + (p * 1.8)) + "deg)",
                        });
                        $val.text(p | 0);
                    }
                });
            });

            $(".number-of-pages-progress-bar").each(function () {
                var $bar = $(this).find(".bar");
                var $val = $(this).find("span");
                var perc = parseInt(rev_web_val, 10);
                $({ p: 0 }).animate({ p: perc }, {
                    easing: "swing",
                    step: function (p) {
                        $bar.css({
                            transform: "rotate(" + (45 + (p * 1.8)) + "deg)",
                        });
                        $val.text(p | 0);
                    }
                });
            });
        });
    </script>
}
